header
    div trackr

// set path to ../ for pages in a subfolder
- var path = ''
if(page && page.indexOf('api/') === 0)
    - path = '../'

.pure-menu.pure-menu-open
    a(href=path + "getting_started.html").pure-menu-heading Getting started
    ul
        li(class=page === 'starting_server' ? 'pure-menu-selected' : undefined)
            a(href=path + "starting_server.html") Starting the application
        li(class=page === 'security' ? 'pure-menu-selected' : undefined)
            a(href=path + "security.html") Accessing the application
    a.pure-menu-heading Application internals
    ul
        li(class=page === 'scheduled_jobs' ? 'pure-menu-selected' : undefined)
            a(href=path + "scheduled_jobs.html") Scheduled jobs
    a(href=path + "api_overview.html").pure-menu-heading API documentation

    - var api = ['address_book', 'addresses', 'authorities', 'billableTimes', 'companies', 'contactPersons', 'credentials', 'employees', 'federalStates', 'holidays', 'invoices', 'principal', 'projects', 'sickDays', 'translations', 'travelExpenseReports', 'travelExpenses', 'vacationRequests', 'workTimes']
    ul
        each apiPage in api
            li(class=page === 'api/' + apiPage ? 'pure-menu-selected' : undefined)
                a(href=path + "api/" + apiPage + ".html")= '/' + apiPage